pipeline/Begin Workflow.json
{
	"name": "Begin Covid Workflow",
	"properties": {
		"activities": [
			{
				"name": "Set Process Time",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ProcessTime",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pull Covid Data",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Process Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Pull Covid Data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ProcessTime": {
							"value": "@variables('ProcessTime')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Load Raw Covid Data",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Pull Covid Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Load Raw Covid Data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ProcessTime": {
							"value": "@variables('ProcessTime')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"ProcessTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}