pipeline/Begin Covid Workflow.json
{
	"name": "Begin Covid Workflow",
	"properties": {
		"activities": [
			{
				"name": "Set Process Time",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ProcessTime",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Pull Covid Data",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set Process Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Main_ETL/Pull_Data/Pull_US_Covid_Data",
					"baseParameters": {
						"Process_Time": {
							"value": "@variables('ProcessTime')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure_Databricks_LS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Load Covid Data",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Pull Covid Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Main_ETL/Auto_Loaders/US_Covid_Data-Autoloader",
					"baseParameters": {
						"Process_Time": {
							"value": "@variables('ProcessTime')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Azure_Databricks_LS",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"ProcessTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}