df-etl-sandbox/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-etl-sandbox"
		},
		"Azure_Keyvault_LS_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kvetlsandbox.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Begin Covid Workflow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set Process Time",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ProcessTime",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Execute Pull Covid Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Set Process Time",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Pull Covid Data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ProcessTime": {
									"value": "@variables('ProcessTime')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Load Raw Covid Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pull Covid Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load Raw Covid Data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ProcessTime": {
									"value": "@variables('ProcessTime')",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"ProcessTime": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Pull Covid Data')]",
				"[concat(variables('factoryId'), '/pipelines/Load Raw Covid Data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_Databricks_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-5034274679932272.12.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "Azure_Keyvault_LS",
							"type": "LinkedServiceReference"
						},
						"secretName": "Databricks-Access-Token"
					},
					"existingClusterId": "1127-211456-y5abx90e"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure_Keyvault_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_Keyvault_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('Azure_Keyvault_LS_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run_UsCovidData_Daily')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Begin Covid Workflow",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-12-05T19:58:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								12
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Begin Covid Workflow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pull Covid Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pull Us Covid Data",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Main_ETL/Pull_Data/Pull_Us_Covid_Data",
							"baseParameters": {
								"Process_Time": {
									"value": "@pipeline().parameters.ProcessTime",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Azure_Databricks_LS",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Pull States Covid Data",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Main_ETL/Pull_Data/Pull_States_Covid_Data",
							"baseParameters": {
								"Process_Time": {
									"value": "@pipeline().parameters.ProcessTime",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Azure_Databricks_LS",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ProcessTime": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure_Databricks_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load Raw Covid Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load US Covid Data",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Main_ETL/Load_Raw_Tables/Load_UsCovidData",
							"baseParameters": {
								"Process_Time": {
									"value": "@pipeline().parameters.ProcessTime",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Azure_Databricks_LS",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Load States Covid Data",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Main_ETL/Load_Raw_Tables/Load_StatesCovidData",
							"baseParameters": {
								"Process_Time": {
									"value": "@pipeline().parameters.ProcessTime",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Azure_Databricks_LS",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ProcessTime": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure_Databricks_LS')]"
			]
		}
	]
}